<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h4 class="mb-0">
                {{ isEdit ? 'Update Category' : 'Add Category' }}
            </h4>

        </div>

        <div class="card-body">

            <form (ngSubmit)="saveCategory()">

                <!-- Category Name -->
                <div class="mb-3">

                    <label class="form-label">
                        Category Name
                    </label>

                    <input type="text" class="form-control" name="name" [(ngModel)]="category.name" required>

                </div>

                <!-- Description -->
                <div class="mb-3">

                    <label class="form-label">
                        Description
                    </label>

                    <textarea class="form-control" rows="3" name="description" [(ngModel)]="category.description">
                    </textarea>

                </div>

                <!-- Buttons -->
                <button type="submit" class="btn btn-success me-2">

                    {{ isEdit ? 'Update' : 'Save' }}

                </button>

                <button type="button" class="btn btn-secondary" (click)="resetForm()">

                    Reset

                </button>

            </form>

        </div>

    </div>

    <!-- Category List -->

    <div class="card shadow mt-4">

        <div class="card-header bg-dark text-white">

            <h4 class="mb-0">
                Category List
            </h4>

        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover">

                <thead class="table-light">

                    <tr>

                        <th>ID</th>

                        <th>Category</th>

                        <th>Description</th>

                        <th width="180">Action</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let item of categories">

                        <td>{{ item.id }}</td>

                        <td>{{ item.name }}</td>

                        <td>{{ item.description }}</td>

                        <td>

                            <button class="btn btn-warning btn-sm me-2" (click)="editCategory(item)">

                                Edit

                            </button>

                            <button class="btn btn-danger btn-sm" (click)="deleteCategory(item.id)">

                                Delete

                            </button>

                        </td>

                    </tr>

                    <tr *ngIf="categories.length === 0">

                        <td colspan="4" class="text-center">

                            No Categories Found

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>