<div class="sidebar">

    <div class="logo">

        <h4 class="fw-bold text-danger">
            WorkBridge
        </h4>

        <small class="text-muted">
            Admin Panel
        </small>

    </div>

    <ul class="nav flex-column mt-4">

        <li class="nav-item">

            <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link">

                Dashboard

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/admin/country" routerLinkActive="active" class="nav-link">

                Countries

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/admin/division" routerLinkActive="active" class="nav-link">

                Divisions

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/admin/district" routerLinkActive="active" class="nav-link">

                Districts

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/admin/police-station" routerLinkActive="active" class="nav-link">

                Police Stations

            </a>

        </li>

        <hr>

        <li class="nav-item">

            <a routerLink="/admin/category" routerLinkActive="active" class="nav-link">

                Categories

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/admin/skill" routerLinkActive="active" class="nav-link">

                Skills

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/admin/language" routerLinkActive="active" class="nav-link">

                Languages

            </a>

        </li>

        <hr>
        <li class="nav-item">

            <a routerLink="/admin/gig-order-disputes" routerLinkActive="active" class="nav-link">

                Disputes

            </a>

        </li>

        <hr>
        <li class="nav-item">
            <a href="/admin/wallet" class="nav-link">

                Wallet

            </a>
        </li>

        <hr>
        <li class="nav-item">
            <a href="/admin/user-management" class="nav-link">

                Manage Users

            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/company-management" class="nav-link">

                Manage Companies

            </a>
        </li>
        <!-- user-profile-management -->

        <li class="nav-item">
            <a href="/admin/user-profile-management" class="nav-link">

                Manage User Profiles

            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/admin/gigs-management" class="nav-link">

                Manage Gigs

            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/jobs-management" class="nav-link">

                Manage Jobs

            </a>
        </li>
        <hr>
        <!-- job-applications-management -->

        <li class="nav-item">
            <a href="/admin/job-applications-management" class="nav-link">

                Manage Job Applications

            </a>
        </li>
        <li class="nav-item">
            <a href="/admin/gig-orders-management" class="nav-link">

                Manage Gig Orders

            </a>
        </li>


        <hr>
        <!-- reports-management -->

        <li class="nav-item">
            <a href="/admin/reports-management" class="nav-link">

                Manage Reports

            </a>
        </li>


        <hr>
        <li class="nav-item">

            <button class="btn btn-danger w-100" (click)="logout()">

                Logout

            </button>

        </li>

    </ul>

</div>