<div class="sidebar">

    <div class="logo mb-4">

        <h4 class="fw-bold text-primary">
            WorkBridge
        </h4>

    </div>

    <ul class="nav flex-column">

        <li class="nav-item">
            <a routerLink="/user/dashboard" routerLinkActive="active" class="nav-link">
                Dashboard
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a routerLink="/user/freelancer-dashboard" routerLinkActive="active" class="nav-link">
                Freelancer Dashboard
            </a>
        </li>

        <li class="nav-item mt-3">
            <small class="text-muted px-3">
                Resume
            </small>
        </li>

        <li class="nav-item">
            <a routerLink="/user/resume-dashboard" routerLinkActive="active" class="nav-link">
                Resume Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/user/user-profile-preview" routerLinkActive="active" class="nav-link">
                Profile
            </a>
        </li>

        <li class="nav-item mt-3">
            <small class="text-muted px-3">
                Jobs
            </small>
        </li>

        <li class="nav-item">
            <a routerLink="/user/my-applications" routerLinkActive="active" class="nav-link">
                My Applications
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/user/saved-jobs" routerLinkActive="active" class="nav-link">
                Saved Jobs
            </a>
        </li>
        <hr>

        <li class="nav-item mt-3">
            <small class="text-muted px-3">
                Freelancing
            </small>
        </li>

        <li class="nav-item">
            <a href="/user/freelancer-gigs" class="nav-link">

                My Gigs

            </a>
        </li>
        <li class="nav-item">
            <a href="/user/buyer-gig-orders" class="nav-link">

                My Orders

            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/user/saved-gigs" routerLinkActive="active" class="nav-link">
                Saved Gigs
            </a>
        </li>
        <hr>
        <li class="nav-item">
            <a href="/user/conversation-list" class="nav-link">

                My Chats

            </a>
        </li>

        <hr>
        <li class="nav-item">
            <a href="/user/wallet" class="nav-link">

                Wallet

            </a>
        </li>

        <hr>

        <li class="nav-item">
            <button class="btn btn-danger w-100" (click)="logout()">
                Logout
            </button>
        </li>

    </ul>

</div>