<div class="sidebar">

    <div class="logo">

        <h4 class="fw-bold text-primary">
            WorkBridge
        </h4>

    </div>

    <ul class="nav flex-column mt-4">

        <li class="nav-item">

            <a routerLink="/company/dashboard" routerLinkActive="active" class="nav-link">

                Dashboard

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/company/company-profile" routerLinkActive="active" class="nav-link">

                Company Profile

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/company/manage-jobs" routerLinkActive="active" class="nav-link">

                Manage Jobs

            </a>

        </li>

        <li class="nav-item">

            <a routerLink="/company/job-list" routerLinkActive="active" class="nav-link">

                My Jobs

            </a>

        </li>
        <li class="nav-item">
            <a href="/company/buyer-gig-orders" class="nav-link">

                My Orders

            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/company/saved-gigs" routerLinkActive="active" class="nav-link">
                Saved Gigs
            </a>
        </li>

        <hr>
        <li class="nav-item">
            <a href="/company/conversation-list" class="nav-link">

                My Chats

            </a>
        </li>

        <hr>
        <li class="nav-item">
            <a href="/company/wallet" class="nav-link">

                Wallet

            </a>
        </li>

        <hr>

        <li class="nav-item">

            <button class="btn btn-danger w-100" (click)="logout()">

                Logout

            </button>

        </li>

    </ul>

</div>